li {
    list-style: none;
    border: solid 2px white;
    margin: 5px;
    border-radius: 10px;
    padding: 7px 5px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
}